
#particles-js{
    position: absolute;
    width: 100%;
    height:100%;
}
#text{
    display:flex;
    flex-direction:column;
    position:absolute;
    top: 50%;
    right:50%;
    transform: translate(50%,-50%);
    max-width: 90%;
    padding:2em 3em;
    color:#fff;
    text-shadow: 0px 0px 2px #131415;
    font-family:Arial, Helvetica, sans-serif;


        

      
    #transparentbox{
        background-color: rgba(255,204,229, 0.15);
        height:35vh;
        width:60vh;
        align-items: center;
        
        #form{
            margin-top:20%;
        }
    
    }
    #transparentbox:hover{
        background-color:rgba(255,204,229, 0.4) ;

    }
    input{

            font-size:medium;

            background: black;
            padding:4px;
            color:#fff;
            border-color:lightblue;
            font-family:monospace;
        }
        input:hover{
            border-right: 0;
            border-top: 0;
            border-left:0;
            border-style: ridge ;
        }
        #submit{
            margin-top:5%;
        }
        p{
            font-weight:bolder;
            font-size: 2rem;
            font-style: bold;
            color:#bc6ff1;
        }
        p:hover{
            color:#f1bbd5;
            text-decoration: underline;
        }

    }
